@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

//$light: #b7cce0;
//$dark: #34565e;
//$medium: #7394a1;
//$accent: #e55516;
//$Darkaccent: #bb3b00;
//$green: #43a016;
//$darkGreen: #2a660f;



$light: #93bcff;
$dark: #23426c;
$accent: #137ad7;
$blueAccent: #b4d4ff;
$Darkaccent: #235c96;
$green: #43a016;
$darkGreen: #2a660f;
$red: #c70000;
$redDark: #860000;

$primary: $Darkaccent;
$secondary: $accent;

.btn-outline-primary:hover {
  color: white
}
.btn-outline-secondary:hover {
  color: white;
}

.btn {
  border-radius: 0;
}

.form-control {
  border-radius: 0;
}

.form-select{
  border-radius: 0;
}

* {
  font-family: 'Abel', sans-serif;

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
}

.navbar-light {
  background-color: $dark;
}
